body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar *****************NAVBAR*/
.menu-dropdown.none {
  display: none;
}
#nav-container.none {
  display: none;
}
.hamburger-none {
  display: none;
}
.menu-dropdown ul {
  list-style-type: none;
  display: block;
}

.logo-avatar {
  max-width: 40%;
  max-height: 40px;
}
.avatar {
  width: 30px;
  height: 30px;
}
.logo {
  margin-right: 10px;
}
.logo-open {
  display: none;
}
#nav-container {
  display: flex;
  margin: 0px 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
}

#nav-container.open {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.125);
}
.logo-stuff {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  margin-left: auto;
}

.menu-items h4 {
  margin: 0 3vw;
  font-size: 22px;
  font-size: 0.95rem;
}
.menu-items h4:hover {
  color: white;
}
.menu-dropdown h3 {
  display: flex;
  justify-content: center;
  padding: 10px 130px;
}
.menu-dropdown {
  display: block;
}
.menu-icon-open {
  display: flex;
  justify-content: center;
}
.hamburger-open {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 740px) {
  .menu-items {
    display: none;
    flex-direction: column;
  }
  @media screen and (max-width: 610px) {
    #nav-container {
      margin: 0px 10px;
    }
  }
  @media screen and (max-width: 400) {
    .logo-avatar {
      max-width: 30%;
      max-height: 30px;
      margin-right: 15px;
    }
  }
  .menu-items.open {
    display: flex;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 15px;
  }
  .menu-dropdown {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .menu-dropdown h3 {
    display: flex;
    justify-content: center;
    padding: 10px 70px;
  }
}
