body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span {
  color: #ef6c39;
}

.ibm {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

Link:focus,
:visited,
:link,
:active {
  text-decoration: none;
  color: inherit;
}

/* Navbar *****************NAVBAR*/
.menu-dropdown.none {
  display: none;
}
#nav-container.none {
  display: none;
}
.hamburger-none {
  display: none;
}
.menu-dropdown ul {
  list-style-type: none;
  display: block;
}

.logo {
  margin-right: 10px;
}
.logo-text {
  color: white;
  font-size: 3em;
}
.logo-open {
  display: none;
}
#nav-container {
  display: flex;
  margin: 0px 30px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  color: rgb(255, 255, 255);
  justify-content: space-around;
  font-family: "Archivo Black", sans-serif;
}

#nav-container.open {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.125);
}
.logo-box {
  display: flex;
  align-items: center;
}
.menu-items {
  display: flex;
  margin-left: auto;
}

.menu-items h5 {
  margin: 0 3vw;
  /* font-size: 22px; */
  /* font-size: 0.95rem; */
  color: rgb(255, 255, 255);
}
.menu-items h5:hover {
  color: white;
}
.menu-dropdown h3 {
  display: flex;
  justify-content: center;
  padding: 10px 130px;
}
.menu-dropdown {
  display: block;
}
.menu-icon-open {
  display: flex;
  justify-content: center;
}
.hamburger-open {
  display: flex;
  justify-content: center;
}
.radius {
  border-radius: 1px;
  overflow: hidden;
  margin-top: -5px;
}
.join-button {
  border: 3px solid;
  border-image: linear-gradient(85deg, rgb(255, 255, 255), #ef6c39) 1;
  padding: 8px 20px 8px 20px;
  color: white;
  font-size: 0.9em;
}
.radius .join-button {
  border: 3px solid;
  border-image: linear-gradient(85deg, rgb(255, 255, 255), #ef6c39) 1;
  width: 70px;
  height: 15px;
  color: white;
  font-size: 0.8em;
  margin-top: 5%;
}

.join-button:hover {
  background: #ef6c39;
  text-decoration: none;
}

.menu-items.open {
  display: flex;
}

.menu-icon {
  display: block;
  margin-left: auto;
  margin-right: 15px;
}
.menu-dropdown {
  display: block;
}

@media screen and (max-width: 1500px) {
  .radius .join-button {
    width: 50px;
    font-size: 0.8em;
    margin-top: 5%;
  }
  .logo-text {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1150px) {
  .logo-text {
    color: white;
    font-size: 2.3em;
  }
  .menu-items h5 {
    margin: 0 2vw;

    font-size: 0.6rem;
  }
}
@media screen and (max-width: 820px) {
  .menu-items {
    display: none;
    flex-direction: column;
  }
}
@media screen and (max-width: 610px) {
  #nav-container {
    margin: 0px 20px;
  }
  .radius .join-button {
    display: none;
  }
}
@media screen and (max-width: 400) {
  .logo-avatar {
    max-width: 30%;
    max-height: 30px;
    margin-right: 15px;
  }
  .menu-dropdown h3 {
    display: flex;
    justify-content: center;
    padding: 10px 70px;
  }
}

/* Hero Home *********************HERO HOME*/
.hero-image {
  /* background-image: url("../public/images/hero-home/hero-bg/hero-2.jpg"); */
  background-image: url("../public/images/join/hero-2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 30px;
}
.hero-all {
  display: flex;
  /* margin: 40px; */
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 130px 0px;
  font-family: "Archivo Black", sans-serif;
  overflow: hidden;
}
.hero-left-right {
  display: flex;

  justify-content: space-around;
  margin: 30px 2% 30px 0px;
}
/* .hero-left-right {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  margin: 50px;
} */
/* 
LEFT */
.hero-left {
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-left .ibm-hero,
.hero-left .p1 {
  margin-bottom: 0;
  font-size: 1.5em;
}
.hero-left .p1 {
  color: #faf1ee;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.ibm-hero {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  margin-top: 0;
}
.hero-left h1 {
  font-size: 4.6em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.1em;
  letter-spacing: 3px;
}

.hero-join {
  width: 130px;
  height: 30px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.hero-join .btn-arrow {
  padding-left: 3px;
  width: 25px;
  height: 25px;
}
/* 
.hero-left .hero-join {
  width: 130px;
  height: 30px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.hero-left .hero-join .btn-arrow {
  padding-left: 3px;
  width: 25px;
  height: 25px;
} */

/* RIGHT */
.hero-right {
  width: 20%;
  display: flex;
  justify-content: end;
}
.hero-right-all {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: right;
}
.hero-images-change {
  margin: right;
  padding-bottom: 25%;
}
.hero-ic {
  display: flex;

  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
.hero-ic h1 {
  margin-bottom: auto;
  margin-top: auto;
}

.hero-ic hr {
  transform: rotate(90deg);
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
.hero-ic1 {
  color: #ef6c39;
}
.hero-ic2 {
  font-size: 0.8em;
}
.hero-ic3 {
  font-size: 0.6em;
}

.hero-ic1 hr {
  height: 60px;
  margin-right: 70px;
  border: 2px solid #ef6c39;
}
.hero-ic2 hr {
  height: 40px;
  margin-right: 50px;
  border: 2px solid #ffffff;
}
.hero-ic3 hr {
  height: 20px;
  margin-right: 40px;
  border: 2px solid #ffffff;
}

.hero-right-all .image-vid {
  display: flex;
  flex-direction: column;
  margin: right;
  margin-top: auto;
}
.h-1-box {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: auto;
  border: 2px solid white;
  margin-bottom: 20px;
  align-items: center;
}

.h-1-box .text-container {
  position: absolute;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  width: 14%;

  padding: 8px 8px 2px 20px;
  z-index: 1;
  color: white;
}
.h-1-box .text-container .btn-arrow {
  width: 30px;
  height: 30px;
}

.h-1-box .text-container h3 {
  margin-bottom: 0;
  font-size: 0.9vw;
}
.h-1-box .text-container p {
  margin-bottom: 0;
  font-size: 0.7vw;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
.h-1-box .text-container h4 {
  margin-bottom: 0;
  font-size: 0.95vw;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.hero-right-all .image-vid img {
  width: 100%;

  margin-left: auto;
  border: 2px solid white;
}

.h-1-box img {
  filter: blur(4px);
  border: 2px solid white;
  background-color: #ccc;
}
@media screen and (max-width: 1650px) {
  .hero-left h1 {
    font-size: 4em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1em;
  }

  .h-1-box .text-container {
    width: 16%;

    padding: 8px 8px 2px 25px;
    z-index: 1;
  }

  .h-1-box .text-container .btn-arrow {
    width: 30px;
    height: 30px;
  }

  .h-1-box .text-container h3 {
    font-size: 0.95vw;
  }
  .h-1-box .text-container p {
    font-size: 0.8vw;
  }
  .h-1-box .text-container h4 {
    font-size: 0.95vw;
    padding-top: 20px;
  }
}
@media screen and (max-width: 1430px) {
  .hero-left {
    width: 60%;
  }
  .hero-left-right {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin: 70px 0px 0px 0px;
  }
  .h-1-box .text-container .btn-arrow {
    width: 20px;
    height: 20px;
  }

  .h-1-box .text-container h3 {
    font-size: 1vw;
  }
  .h-1-box .text-container p {
    font-size: 0.95vw;
  }
}
@media screen and (max-width: 1200px) {
  .hero-left h1 {
    font-size: 3.2em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1em;
  }
}

@media screen and (max-width: 1100px) {
  .hero-left h1 {
    font-size: 2.8em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1em;
  }
  .h-1-box .text-container .btn-arrow {
    width: 16px;
    height: 16px;
  }

  .h-1-box .text-container h3 {
    font-size: 1.1vw;
  }
  .h-1-box .text-container p {
    font-size: 1vw;
  }
  .h-1-box .text-container h4 {
    font-size: 1.1vw;
    padding-top: 15px;
  }
  .h-1-box .text-container {
    width: 16%;

    padding: 8px 8px 2px 15px;
    z-index: 1;
  }
  .hero-left {
    width: 70%;
  }
}

@media screen and (max-width: 825px) {
  .hero-left h1 {
    font-size: 2.3em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.1em;
  }
  .hero-left {
    width: 65%;
  }
  .hero-left .ibm-hero,
  .hero-left .p2 {
    margin-bottom: 0;
    font-size: 1em;
  }
}

@media screen and (max-width: 700px) {
  .hero-all {
    padding: 0px;
  }
  .hero-left-right {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 40px;
  }

  .hero-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20%;
  }
  .hero-left p {
    margin-bottom: 0;
    font-size: 1em;
    width: 95%;
  }
  .ibm-hero {
    letter-spacing: 1px;
    font-size: 0.9em;
    width: 70%;
    margin-top: 5px;
  }
  .hero-left h1 {
    font-size: 2.8em;
  }
  .hero-left .hero-join {
    width: 70%;
    height: 25px;
  }
  .hero-right {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hero-left h1 {
    font-size: 2.4em;
  }

  .hero-left p {
    margin-bottom: 0;
    font-size: 1em;
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .hero-left h1 {
    font-size: 1.9em;
  }

  .hero-left {
    padding-left: 15%;
  }
  .hero-left .p1 {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 400px) {
  .hero-left h1 {
    font-size: 1.4em;
  }
  .hero-left .hero-join {
    width: 60%;
    height: 15px;
    font-size: 0.8em;
  }
  .hero-right {
    display: none;
  }
  .hero-left-right {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .hero-left p {
    margin-bottom: 0;
    font-size: 1em;
    width: 70%;
  }
  .hero-left {
    padding-left: 20%;
  }
}

/* OFFER ***********************************************OFFER*/
#offer-section {
  overflow: hidden;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 0;
  background-color: #faf9f6;
}

.img-grid {
}
.offer-top {
  margin-top: 100px;
  padding-left: 6%;
}
.offer-top h1 {
  font-size: 3.5em;
  color: #252723;
}
.angry-grid {
  padding-left: 5%;
  display: grid;

  /* grid-template-rows: 378px 378px 378px;
  grid-template-columns: 0px 663.6px 663px 663.6px 0px; */
  grid-template-rows: 378px 378px;
  grid-template-columns: 0fr 1fr 1fr 1fr 0.3fr;

  gap: 30px;
  height: 100%;

  width: 100%;
}

.angry-grid img {
  width: 100%;
  height: 100%;
}

#item-0 {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
  border: 5px solid #ef6c39;
}
.item {
  display: flex;
  align-items: end;
  color: white;
}
.item .text-container {
  position: absolute;
  margin-top: auto;

  padding-left: 15px;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}
.item .text-container h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 80%;
}
.item .text-container p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: 0;
  width: 80%;
  font-size: 1.2em;
}
.item .text-container .btn-arrow {
  width: 30px;
  height: 30px;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;
  border: 5px solid #ffffff;
}
#item-2 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
  border: 5px solid #ef6c39;
}
#item-3 {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;
  border: 5px solid #ffffff;
}
#item-3 .text-container {
  width: 50%;
}
#item-3 .text-container p {
  width: 90%;
}

.background-split {
  width: 100%;
  height: 260px;
  background-color: #252723;
  margin-top: -10%;
  /* margin-bottom: 100px; */
  padding-bottom: 20px;
}

@media screen and (max-width: 1550px) {
  .angry-grid {
    /* grid-template-rows: 378px 378px 378px;
  grid-template-columns: 0px 663.6px 663px 663.6px 0px; */
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0fr 1fr 1fr 1fr 0.5fr;
  }
  .background-split {
    width: 100%;
    height: 180px;

    margin-top: -10%;
    /* margin-bottom: 100px; */
    padding-bottom: 90px;
  }
  .offer-top h1 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 1290px) {
  .item .text-container {
    width: 40%;
  }
  .item .text-container h1 {
    font-size: 1.4em;

    width: 60%;
  }
  .item .text-container p {
    font-size: 1em;
    width: 50%;
  }

  .item .text-container .btn-arrow {
    width: 30px;
    height: 30px;
  }
  #item-3 .text-container {
    width: 55%;
  }
  #item-3 .text-container p {
    width: 90%;
  }
  .background-split {
    width: 100%;
    height: 100px;

    margin-top: -10%;
    /* margin-bottom: 100px; */
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 1150px) {
  .angry-grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 0fr 1fr 1fr 0fr 0.2fr;

    gap: 10px;
    height: 100%;
  }

  #item-0 {
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;
  }
  #item-1 {
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;
  }
  #item-2 {
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;
  }
  #item-3 {
    grid-row-start: 3;
    grid-column-start: 2;

    grid-row-end: 4;
    grid-column-end: 4;
  }

  /* TEXT */
  .item .text-container {
    width: 40%;
  }
  .item .text-container h1 {
    font-size: 1.8em;

    width: 90%;
  }
  .item .text-container p {
    font-size: 1.2em;
    width: 90%;
  }

  #item-3 .text-container {
    width: 85%;
  }
  #item-3 .text-container p {
    width: 90%;
  }
  .offer-top h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 935px) {
  .item .text-container h1 {
    font-size: 1.5em;

    width: 90%;
  }
  .item .text-container p {
    font-size: 1.1em;
  }
  .background-split {
    width: 100%;
    height: 10px;

    margin-top: -10%;
    /* margin-bottom: 100px; */
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 900px) {
  .offer-top {
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  .item .text-container h1 {
    font-size: 1.3em;
  }

  .item .text-container p {
    font-size: 1.1em;
  }
  .offer-top h1 {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 700px) {
  /* TEXT */

  .item .text-container h1 {
    font-size: 0.9em;

    width: 80%;
  }
  .item .text-container p {
    width: 85%;
    font-size: 0.8em;
  }
  .offer-top h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 600px) {
  .item .text-container h1 {
    font-size: 0.85em;

    width: 80%;
  }
  .item .text-container p {
    width: 85%;
    font-size: 0.75em;
  }
  .item .text-container .btn-arrow {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 550px) {
  .offer-top h1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) {
  .item .text-container h1 {
    font-size: 0.8em;

    width: 90%;
  }
  .item .text-container p {
    width: 90%;
    font-size: 0.7em;
  }
  .item .text-container {
    padding-left: 5px;
  }

  .item .text-container .btn-arrow {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 420px) {
  .item .text-container h1 {
    font-size: 0.6em;

    width: 70%;
  }
  .item .text-container p {
    width: 85%;
    font-size: 0.5em;
  }
  .item .text-container {
    padding-left: 5px;
  }
  .background-split {
    padding-bottom: 40px;
  }
}

/* ABOUT ***************************************ABOUT*/

#about-section {
  background-color: #252723;
  color: white;
  margin-top: 0;
  padding-top: 100px;
  font-family: "Archivo Black", sans-serif;
  padding-bottom: 150px;
}

.about-all {
  /* padding-left: 5%; */
  display: flex;
  justify-content: center;
  margin: 0px 5px;
}

.about-left {
  width: 58%;
}
.about-left h1 {
  font-size: 3.5em;
  margin-bottom: 0;
}
.about-left p {
  /* font-size: 2.1em; */
  width: 90%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.5vw;
}
.about-right {
  width: 31%;
  /* width: 728px; */
}

.about-right img {
  width: 100%;
  border: 5px solid white;
}

.about-strip {
  width: 100%;
  height: 140px;
  background-color: #ef6c39;
  display: flex;
  margin-top: -8%;
}
.about-strip-all {
  display: flex;
  padding-left: 6%;
}

.strip {
  display: flex;
  align-items: center;
}
.strip hr {
  height: 70px;
  border: 3px solid white;
}

.strip-c {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  justify-content: center;
}
.strip-c h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 10px;
}

.strip-c p {
  margin-top: 0px;
  font-size: 1.5em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 100%;
}

@media screen and (max-width: 1930px) {
  .about-strip {
    height: 130px;
  }

  .strip-c h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 1790px) {
  .about-strip {
    height: 120px;
  }

  .strip-c h1 {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 1660px) {
  .about-strip {
    height: 110px;
  }

  .strip-c h1 {
    font-size: 2.1em;
  }
  .strip-c p {
    font-size: 1.3em;
  }
  .about-left h1 {
    font-size: 3.6em;
  }
  .strip-c {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1500px) {
  .about-strip {
    height: 100px;
  }

  .strip-c h1 {
    font-size: 2.1em;
  }
  .strip-c p {
    font-size: 1.19em;
  }
  .about-left h1 {
    font-size: 3.2em;
    margin-top: -4px;
  }
}

@media screen and (max-width: 1330px) {
  .about-strip {
    height: 85px;
  }

  .strip-c h1 {
    font-size: 2em;
  }
  .strip-c p {
    font-size: 0.95em;
  }
  .about-left h1 {
    font-size: 2.8em;
  }
  .strip-c {
    padding: 0px 25px;
  }
  .strip hr {
    height: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .about-strip {
    height: 70px;
  }

  .strip-c h1 {
    font-size: 1.6em;
  }
  .strip-c p {
    font-size: 0.75em;
  }
  .about-left h1 {
    font-size: 3em;
  }
  .about-left p {
    width: 90%;

    font-size: 1.6vw;
    margin-top: 5;
  }
  .strip hr {
    height: 45px;
  }
}

@media screen and (max-width: 908px) {
  #about-section {
    padding-top: 80px;
  }
  .about-strip {
    height: 70px;
    margin-top: -10%;
  }

  .strip-c h1 {
    font-size: 1.4em;
  }
  .strip-c p {
    font-size: 0.6em;
  }
  .about-left h1 {
    font-size: 2.4em;

    margin-top: -4px;
  }
  .about-left p {
    width: 90%;

    font-size: 1.7vw;
    margin-top: 5;
  }
  .strip hr {
    height: 40px;
  }
  .strip-c {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 790px) {
  .about-strip {
    height: 120px;
    margin-top: -5%;
    display: flex;
    justify-content: center;
  }

  .strip-c h1 {
    font-size: 1.5em;

    margin-top: 15px;
  }
  .strip-c p {
    font-size: 0.75em;
  }
  .about-left h1 {
    font-size: 2em;
    margin-bottom: 35px;
    margin-top: -4px;
  }
  .about-left p {
    width: 100%;

    font-size: 1.2em;
    margin-top: 4;
  }

  .about-left {
    width: 85%;
  }

  .about-right {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .about-right img {
    width: 100%;
    margin-top: 40px;
  }

  .strip hr {
    height: 40px;
  }

  .strip {
    margin-top: 4%;
  }

  .about-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5px;
    align-items: center;
  }
  #about-section {
    margin-top: 0;
    padding-top: 50px;

    padding-bottom: 80px;
  }
  .about-strip-all {
    display: flex;
    padding-left: 2%;
  }
}
@media screen and (max-width: 550px) {
  .about-strip {
    height: 120px;
    margin-top: -5%;
  }

  .strip-c h1 {
    font-size: 1.4em;

    margin-top: 15px;
  }
  .strip-c p {
    font-size: 0.65em;
  }
  .about-left h1 {
    font-size: 1.2em;

    margin-top: -4px;
  }

  .about-left {
    width: 85%;
  }

  .about-right {
    width: 85%;
  }

  .strip hr {
    height: 40px;
  }

  .strip {
    margin-top: 4%;
    margin-left: 5%;
  }

  .strip-c {
    padding: 0px 10px;
  }

  #about-section {
    padding-top: 50px;

    padding-bottom: 80px;
  }
  .about-strip-all {
    padding-left: 0%;
  }
  .about-left p {
    width: 100%;

    font-size: 1em;
    margin-top: 4;
    line-height: 1.5em;
    letter-spacing: 1.5px;
  }
}
@media screen and (max-width: 440px) {
  .about-left p {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 350px) {
  .about-left p {
    font-size: 0.9em;
  }
  .about-left {
    width: 90%;
  }
}
/* STUDENT SLIDER *********************STUDENT SLIDER*/
#our-students-section {
  background-color: #faf9f6;
}
.students-all {
  padding-left: 6%;
  font-family: "Archivo Black", sans-serif;
  padding-top: 70px;
  overflow: hidden;
}

.students-all h1 {
  font-size: 3.5em;
  margin-bottom: 100px;
}
.slider {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 100px;
  overflow: hidden;
}
/* .slider-div {
  display: flex;
  align-items: end;
} */
.slider div {
  width: 3900px;
  height: 400;
  object-fit: scale-down;
  display: flex;
}

.slider-div img {
  width: 1080px;
  height: 400px;
}

.slider-div .text-container {
  position: absolute;
  margin-top: auto;
  padding-top: 250px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  width: 40%;
  /* justify-content: end; */
  color: white;
  font-family: "Archivo Black", sans-serif;
}
.slider-div .text-container h1 {
  font-size: 2em;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  width: 30%;
}
.slider-div .text-container p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: 0;
  width: 15%;
  font-size: 1.5vw;
  font-weight: 500;
}
.slider-div .text-container h1 span {
  color: white;
  padding-right: 10px;
  display: flex;
}
.slider-div .text-container p span {
  font-weight: 800;
  color: #ff8757;
}
@media screen and (max-width: 1500px) {
  .students-all h1 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 1300px) {
  .slider-div .text-container {
    padding-top: 175px;
    padding-left: 15px;

    width: 40%;
  }
  .slider {
    display: flex;
    justify-content: center;

    margin-bottom: 200px;
  }

  .slider div {
    width: 2880px;
    height: 300px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 820px;
    height: 300px;
  }
}
@media screen and (max-width: 1150px) {
  .students-all h1 {
    font-size: 3em;
  }
  .slider-div .text-container p {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 900px) {
  .students-all {
    padding-top: 40px;
  }

  .students-all h1 {
    font-size: 2.2em;
    margin-bottom: 50px;
    color: #252723;
  }
  .slider {
    display: flex;
    justify-content: center;

    margin-bottom: 100px;
  }

  .slider div {
    width: 2160px;
    height: 266px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 700px;
    height: 266px;
  }
  /*  */
  .slider-div .text-container {
    padding-top: 170px;
    padding-left: 15px;

    width: 90%;
  }
  .slider-div .text-container h1 {
    font-size: 1.4em;

    width: 30%;
  }
  .slider-div .text-container p {
    width: 6%;

    font-size: 2vw;
  }
  .slider-div .text-container h1 span {
    padding-right: 5px;
  }
}

@media screen and (max-width: 650px) {
  .slider div {
    width: 1660px;
    height: 266px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 500px;
    height: 266px;
  }
  .slider-div .text-container p {
    width: 7%;
    font-size: 2.4vw;
  }

  /* .slider-div .text-container {
    padding-top: 100px;

    width: 90%;
  } */

  /*  */
  .slider-div .text-container {
    padding-top: 160px;
  }
}

@media screen and (max-width: 550px) {
  .slider-div .text-container {
    padding-top: 170px;
  }
  .slider div {
    width: 1760px;
    height: 266px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 450px;
    height: 266px;
  }
  .slider-div .text-container h1 {
    font-size: 1.2em;

    width: 30%;
  }
  .slider-div .text-container p {
    width: 6%;
    font-size: 2.7vw;
  }
  .students-all h1 {
    font-size: 1.2em;
  }
  /*  */
}
@media screen and (max-width: 480px) {
  .slider div {
    width: 1460px;
    height: 226px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 360px;
    height: 226px;
  }
  .slider-div .text-container {
    padding-top: 150px;

    width: 90%;
  }

  .slider-div .text-container h1 {
    font-size: 1em;

    width: 30%;
  }
  .slider-div .text-container p {
    width: 6%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  .slider div {
    width: 1300px;
    height: 226px;

    object-fit: scale-down;
  }
  .slider-div img {
    width: 300px;
    height: 200px;
  }
  .slider-div .text-container {
    padding-top: 130px;

    width: 90%;
  }

  .slider-div .text-container h1 {
    font-size: 0.9em;

    width: 30%;
  }
  .slider-div .text-container p {
    width: 5%;
    font-size: 0.7em;
  }
}

/* OUR TEAM ****************************OUR TEAM**/

#team-section {
  background-color: #252723;
  font-family: "Archivo Black", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.team-all {
  display: flex;
  padding-left: 6%;

  align-items: start;
  height: 50%;
  padding-top: 100px;
  padding-bottom: 60px;
}

.team-left {
  width: 45%;
  margin-right: 30px;
}
.team-left h1 {
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 50px;
}

.team-left h2 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  /* line-height: 1.2em; */
}
.team-left h3 {
  font-size: 2.5em;
  margin-top: 0;
}

.team-left p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 75%;
  font-size: 1.7em;
  line-height: 1.6em;
  letter-spacing: 1.5px;
}

.team-right {
  width: 50%;
  margin-top: 10px;
}
.team-right div {
  display: flex;
  /* width: 2100px; */
}
.team-right img {
  width: 50%;
  height: 50%;
  margin: 0px 40px;
  /* Initial opacity for dimmed images */
}

.focused {
  border: 5px solid #ef6c39;
  transform: scale(1.08);
  opacity: 1;
}
.dimmed {
  filter: brightness(50%);
  opacity: 0.7;
}

.orange-split {
  background-color: #ef6c39;
  width: 100%;
  margin-top: auto;
  padding: 70px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1800px) {
  .team-left h1 {
    margin-bottom: 40px;
  }
  .team-left {
    width: 43%;
    margin-right: 32px;
  }

  .orange-split {
    padding: 65px;
    margin-bottom: 30px;
  }
  .team-right {
    width: 52%;
    margin-top: 30px;
  }

  .team-left h2 {
    font-size: 2.5em;
  }
  .team-left h3 {
    font-size: 1.7em;
  }
  .team-left p {
    width: 88%;
    font-size: 1.4em;
    letter-spacing: 1.5px;
  }
}
@media screen and (max-width: 1500px) {
  .team-left h1 {
    font-size: 3.2em;
  }
}
@media screen and (max-width: 1400px) {
  .team-all {
    display: flex;
    padding-left: 6%;

    padding-bottom: 60px;
  }

  .team-left h2 {
    font-size: 2em;

    /* line-height: 1.2em; */
  }
  .team-left h3 {
    font-size: 1.3em;
  }
  .team-left p {
    width: 85%;
    font-size: 1.3em;
  }
  /* right */
  .team-right {
    width: 50%;
  }
  .team-right div {
    display: flex;
    /* width: 2100px; */
  }
  .team-right img {
    width: 60%;
    height: 60%;
    margin: 0px 20px;
    /* Initial opacity for dimmed images */
  }

  .orange-split {
    padding: 50px;
  }
}

@media screen and (max-width: 1150px) {
  .team-left h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .team-right img {
    width: 63%;
    height: 63%;

    /* Initial opacity for dimmed images */
  }
  .team-left p {
    width: 90%;
    font-size: 1.1em;
  }
  .team-left {
    width: 46%;
  }
}

@media screen and (max-width: 900px) {
  .team-left h1 {
    font-size: 2.2em;
  }
  .team-all {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .team-left {
    width: 45%;
    margin-right: 40px;
  }

  .team-left h2 {
    font-size: 1.9em;

    /* line-height: 1.2em; */
  }
  .team-left h3 {
    font-size: 1.3em;
  }

  .team-left p {
    width: 100%;
    font-size: 1em;
    letter-spacing: 1.5px;
  }
  /* right */
  .team-right {
    width: 50%;
    margin-top: 20px;
  }
  .team-right div {
    display: flex;
    /* width: 2100px; */
  }
  .team-right img {
    width: 70%;
    height: 70%;
    margin: 0px 20px;
    /* Initial opacity for dimmed images */
  }

  .orange-split {
    padding: 40px;
  }
}

@media screen and (max-width: 790px) {
  .team-all {
    display: flex;
    padding-top: 70px;
    flex-direction: column;
  }
  /* left */
  .team-left {
    width: 100%;
    margin-right: 0px;
  }
  .team-left h1 {
    font-size: 2.1em;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .team-left h2 {
    font-size: 1.75em;
  }
  .team-left h3 {
    font-size: 1.55em;
    margin-top: 0;
    margin-bottom: 1px;
  }

  .team-left p {
    width: 93%;
    font-size: 1.2em;
    margin-bottom: 60px;
    letter-spacing: 1.5px;
  }
  /* right */
  .team-right {
    width: 70%;
  }

  .team-right img {
    margin: 0px 15px;
    /* Initial opacity for dimmed images */
  }

  .focused {
    border: 4px solid #ef6c39;
  }

  .orange-split {
    padding: 50px;
  }
}
@media screen and (max-width: 550px) {
  .team-left h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 440px) {
  .team-left h2 {
    font-size: 1.6em;
  }
  .team-left h3 {
    font-size: 1.3em;
  }

  .team-left p {
    font-size: 0.95em;
    margin-bottom: 50px;
    line-height: 1.5em;
    width: 90%;
  }
  .team-right {
    width: 75%;
  }

  .team-right img {
    margin: 0px 10px;
    /* Initial opacity for dimmed images */
  }

  .orange-split {
    padding: 40px;
  }
}
@media screen and (max-width: 350px) {
  .team-left h2 {
    font-size: 1.3em;
  }
  .team-left h3 {
    font-size: 1em;
  }

  .team-left p {
    font-size: 0.9em;

    line-height: 1.5em;
  }
  .team-right {
    width: 75%;
  }

  .team-right img {
    margin: 0px 10px;
    /* Initial opacity for dimmed images */
  }

  .orange-split {
    padding: 40px;
  }
}

/* FAQ SECTION **************************************FAQ******************/
#faq-section {
  background: #252723;
  font-family: "Archivo Black", sans-serif;
  padding-top: 40px;
  color: white;
  overflow: hidden;
  padding-bottom: 100px;
  margin-bottom: 0;
}
.faq-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}
.faq-toggle {
  font-size: 0.9em;
}
.faq-container h1 {
  font-size: 3.5em;
}
.faq {
  max-width: 70%;
  /* display: flex; */
}

.faq-item {
  border-top: 1px solid #acc3cb;
  /* border-bottom: 1px solid #ddd; */

  padding: 30px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.faq-item:hover {
  background-color: #353832;
}

.faq-question {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: space-between;
}

.faq-answer {
  margin-top: 20px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1500px) {
  .faq-container {
    padding-left: 6%;
  }
  .faq-container h1 {
    font-size: 3.2em;
  }
  .faq {
    max-width: 75%;
  }
  .faq-question {
    font-size: 1.5em;
  }

  .faq-answer {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .faq-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 6%;
  }
  .faq-container h1 {
    font-size: 2.2em;
  }
  .faq {
    max-width: 85%;
  }
  .faq-question {
    font-size: 1.2em;
    letter-spacing: 1.5px;
  }

  .faq-answer {
    margin-top: 20px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 1.5px;
  }
  .faq-toggle {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  .faq-container h1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 400px) {
  .faq-question {
    font-size: 0.95em;
  }

  .faq-answer {
    font-size: 0.9em;
  }
}

/* JOIN SECTION ***************************JOIN-SECTION*/

.join-image {
  /* background-image: url("../public/images/join/join-1.jpg"); */
  background-image: url("../public/images/join/join-8.jpg");
  height: 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* padding-bottom: 500px; */
  margin-top: auto;
}
.join-all {
  height: 80vh;
  display: flex;
  align-items: end;
  font-family: "Archivo Black", sans-serif;
}

.join-text {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 300px; */
  padding: 0% 6%;
  width: 80%;
  margin-bottom: 40px;
}

.join-text h1 {
  color: white;
  font-size: 2.8em;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.3em;
}

@media screen and (max-width: 1500px) {
  .join-text {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .join-text h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 840px) {
  .join-text h1 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 700px) {
  .join-text h1 {
    font-size: 2em;
    text-align: left;
  }
  .join-text {
    padding: 0% 0% 0 6%;
    width: 90%;
    margin-bottom: 40px;
  }
  .join-text .join-button {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .join-text h1 {
    font-size: 1.7em;
  }
  .join-all {
    height: 70vh;
  }
  .join-text {
    width: 90%;
    padding: 0% 3% 0 6%;
  }
}

@media screen and (max-width: 470px) {
  .join-text h1 {
    font-size: 1.5em;
    text-align: center;
  }
  .join-all {
    height: 60vh;
  }
  .join-text {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 415px) {
  .join-text h1 {
    font-size: 1.3em;
  }
  .join-all {
    height: 55vh;
  }
  .join-text {
    width: 95%;
  }
  .join-text .join-button {
    height: 15px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 350px) {
  .join-text h1 {
    font-size: 0.9em;
    text-align: center;
  }
  .join-all {
    height: 45vh;
  }
  .join-text {
    width: 95%;
  }
  .join-text .join-button {
    height: 15px;
    width: 80px;
    font-size: 0.8em;
  }
}

/* CONTACT**************************************CONTACT */
#contact-section {
  background-color: #faf9f6;
}

.contact-all {
  display: flex;
  flex-direction: column;
  padding: 80px 0% 80px 6%;
  font-family: "Archivo Black", sans-serif;
  color: #252723;
}
.contact-stuff {
  display: flex;
  align-items: center;
}
.contact-stuff hr {
  border: 3px solid #41474a;
  height: 1.6em;
  margin: 0px 70px;
}

.contact-pairs {
  display: flex;
  align-items: center;
}
.contact-pairs h3 {
  font-size: 1.3vw;
}
.contact-pairs .pair-2 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-right: 10px;
}

.contact-all h1 {
  font-size: 3em;
  margin-bottom: 40px;
}

@media screen and (max-width: 1150px) {
  .contact-pairs h3 {
    font-size: 1.4vw;
  }
  .contact-stuff hr {
    border: 3px solid #41474a;
    height: 1.6em;
    margin: 0px 40px;
  }
}

@media screen and (max-width: 900px) {
  .contact-pairs h3 {
    font-size: 1.4vw;
  }
  .contact-stuff hr {
    border: 2.5px solid #41474a;
    height: 1.2em;
    margin: 0px 30px;
  }
  .contact-all h1 {
    font-size: 2.2em;
    margin-bottom: 40px;
  }
  .contact-all {
    padding: 60px 0% 60px 6%;
  }
}

@media screen and (max-width: 760px) {
  .contact-pairs h3 {
    font-size: 1.5vw;
  }
  .contact-stuff hr {
    border: 2.5px solid #41474a;
    height: 1.3em;
    margin: 0px 20px;
  }
  .contact-all h1 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 660px) {
  .contact-stuff {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .contact-stuff hr {
    display: none;
  }
  .contact-pairs h3 {
    font-size: 1em;
  }
  .contact-all {
    padding: 50px 6% 50px 6%;
  }
}

@media screen and (max-width: 550px) {
  .contact-pairs h3 {
    font-size: 0.9em;
  }
  .contact-all h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .contact-all {
    display: flex;
    flex-direction: column;
    padding: 30px 6% 30px 6%;
  }
}

/* FOOTER *****************************************/
.footer-section {
  background-color: #252723;
  font-family: "Archivo Black", sans-serif;
}
.footer-all {
  display: flex;
  justify-content: space-between;

  padding: 20px 6% 20px 6%;
}
.footer-all h1 {
  color: white;
  font-size: 3.5em;
}
.footer-tabs {
  display: flex;
  justify-content: space-between;

  width: 35%;
  color: white;
}
.footer-tabs .section p {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

@media screen and (max-width: 1150px) {
  .footer-tabs {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .footer-tabs {
    width: 55%;
  }
  .footer-tabs .section p {
    font-size: 0.9em;
  }
  .footer-all h1 {
    color: white;
    font-size: 3em;
  }
}

@media screen and (max-width: 650px) {
  .footer-tabs .section p {
    font-size: 0.7em;
  }
  .footer-all h1 {
    color: white;
    font-size: 2.7em;
  }
  .footer-tabs .section h5 {
    font-size: 0.75em;
  }
  /* .footer-tabs {
    width: 60%;
  } */
}

@media screen and (max-width: 540px) {
  .footer-tabs .section p {
    font-size: 0.5em;
  }
  .footer-all h1 {
    color: white;
    font-size: 2.5em;
    margin-right: 30px;
  }
  .footer-tabs .section h5 {
    font-size: 0.6em;
  }
  /* .footer-tabs {
    width: 60%;
  } */
  .footer-all {
    display: flex;
    justify-content: space-between;

    padding: 20px 3% 20px 6%;
  }
}
@media screen and (max-width: 400px) {
  .footer-tabs .section p {
    font-size: 0.6em;
  }
  .footer-all h1 {
    color: white;
    font-size: 2.5em;
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .footer-tabs .section h5 {
    font-size: 0.6em;
  }
  .footer-tabs {
    width: 85%;
  }
  .footer-all {
    display: flex;
    flex-direction: column;

    padding: 5px 3% 15px 6%;
  }
}

/* LESSONS******************************LESSONS */
#lessons {
  background-color: #faf9f6;
  padding-bottom: 50px;
  padding-top: 30px;
  margin-bottom: 0;
}

.about-lessons-all {
  display: flex;
  margin: 4% 6% 0 6%;
  font-family: "Archivo Black", sans-serif;
}

.lesson-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 30px;
  justify-content: space-between;
}
.lesson-text h1 {
  font-size: 2.5vw;
  /* font-size: 3em; */
}
.lesson-text p {
  font-size: 1.1vw;
  width: 90%;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  margin-bottom: 4%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
.lesson-stats {
  display: flex;
  justify-content: space-between;
  margin-right: 12%;
  margin-bottom: 4%;
}

.stat {
  display: flex;
  align-items: center;
}

.stat hr {
  height: 55%;
  border: 2.5px solid #ef6c39;
  margin: 0 20px;
}
.stat-1 hr {
  margin: 0px 0px;
  margin-right: 20px;
}
.l-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.l-stat h2 {
  font-size: 1.65vw;
  margin-bottom: 0;
}
.l-stat p {
  font-size: 1vw;
  margin-top: 0;
}

.lesson-images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.lesson-images img {
  width: 30%;
  border: 5px solid white;
}

.lesson-right {
  width: 50%;
}
.lesson-gif img {
  width: 90%;
  height: 80%;
}
.lesson-who-text {
  margin-top: 5%;
}
.lesson-who-text h3 {
  font-size: 1.5vw;
}
.lesson-who-text p {
  font-size: 1.1vw;
  width: 90%;
  line-height: 1.5em;
  letter-spacing: 1.5px;

  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.lesson-gif img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px solid white;
}

@media screen and (max-width: 950px) {
  .lesson-who-text {
    margin-top: 15%;
  }
  .lesson-text p {
    font-size: 2vw;
    width: 95%;
  }
  .lesson-who-text p {
    font-size: 2vw;
    width: 95%;
  }

  .lesson-who-text h3 {
    font-size: 1.7vw;
  }
  .lesson-text h1 {
    font-size: 2.7vw;
    /* font-size: 3em; */
  }
  .l-stat h2 {
    font-size: 2vw;
  }
  .lesson-stats {
    margin-right: 8%;
  }
}

@media screen and (max-width: 650px) {
  .lesson-text p {
    font-size: 1.6vw;
    width: 95%;
  }
  .lesson-who-text p {
    font-size: 1.6vw;
    width: 95%;
  }

  .lesson-who-text h3 {
    font-size: 1.7vw;
  }
  .lesson-text h1 {
    font-size: 2.7vw;
    /* font-size: 3em; */
  }
  .l-stat h2 {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 570px) {
  .about-lessons-all {
    display: flex;
    flex-direction: column;
  }
  .lesson-left {
    width: 100%;
    margin-right: 0px;
  }

  .lesson-text h1 {
    font-size: 4vw;
    /* font-size: 3em; */
  }
  .lesson-text p {
    font-size: 3.5vw;
    width: 98%;
  }
  .lesson-who-text {
    margin-top: 5%;
  }
  .l-stat h2 {
    font-size: 3vw;
  }
  .l-stat p {
    font-size: 3vw;
  }
  .lesson-right {
    width: 100%;
    margin-top: 5%;
  }
  .lesson-gif img {
    width: 98%;
    height: 80%;
  }
  .lesson-who-text h3 {
    font-size: 4vw;
  }
  .lesson-who-text p {
    font-size: 3.5vw;
    width: 98%;
  }
}

/* BENEFITS *********************BENEFITS*/

#benefits {
  background-color: #252723;
  margin-top: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.benefits-all {
  display: flex;
  flex-direction: column;
  margin: 50px 6%;
  color: white;
  font-family: "Archivo Black", sans-serif;
}
.benefits-all h1 {
  font-size: 2.5vw;
  margin-bottom: 3%;
}
.benefits-bottom {
  display: flex;
  /* justify-content: space-between; */
}

.benefits-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* justify-content: space-between; */
  margin-right: 1%;
}
.box {
  border: 3px solid white;
  padding: 2%;
  margin: 3% 0px;
}
.box-1 {
  margin: 0px 0px 3% 0px;
}
.box-3 {
  margin: 3% 0px 0px 0px;
}
.box-4 {
  margin: 3% 0px 0px 0px;
}
.box h2 {
  font-size: 1.8vw;
  margin-bottom: 0;
  margin-top: 0;
}
.box p {
  font-size: 1vw;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-bottom: 0;
}
/* .benefits-left .box-2 {
  width: 100%;
} */
.benefits-left .box-2 img {
  border: 3px solid white;
  width: 99%;
  margin-bottom: 0;
}
.benefits-left .box-2 {
  margin-top: auto;
}
.benefits-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 1%;
  justify-content: space-between;
}

.benefits-right .double {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.benefits-right .double img {
  border: 3px solid white;
  width: 48%;
}
@media screen and (max-width: 900px) {
  .benefits-right .double img {
    width: 47%;
  }
  .benefits-all {
    margin: 10px 6%;
  }
}

@media screen and (max-width: 570px) {
  .benefits-bottom {
    display: flex;
    flex-direction: column;
  }
  .benefits-left {
    width: 100%;
    /* justify-content: space-between; */
    margin-right: 0%;
  }
  .benefits-all h1 {
    font-size: 4vw;
    margin-bottom: 2%;
  }
  .benefits-right {
    width: 100%;
    margin-left: 0%;
  }
  .box {
    margin: 5% 0px;
  }
  .box-1 {
    margin: 5% 0px;
  }
  .box-3 {
    margin: 5% 0px 0px 0px;
  }
  .box-4 {
    margin: 5% 0px 0px 0px;
  }
  .box h2 {
    font-size: 3.6vw;
    margin-bottom: 0;
    margin-top: 0;
  }
  .box p {
    font-size: 3vw;
  }
  .benefits-left .box-2 {
    margin: 0px 0px 5% 0px;
  }
  .benefits-right .double img {
    width: 47%;
  }
}

/* PRICE CARD ******************************PRICE CARDS*/
#price-section {
  padding: 50px 0px;
}
.price-all {
  margin: 0px 6%;
  font-family: "Archivo Black", sans-serif;
}
.price-all h1 {
  font-size: 2.5vw;
}
.price-cards {
  display: flex;
  flex-wrap: wrap;
}

.price-cards .columns {
  float: left;
  width: 20%;
  padding: 2%;
}
.price-cards .columns .btn-arrow {
  width: 30px;
  height: 30px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
  background-color: #252723;
  color: white;
  font-size: 1.3vw;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.price-cards .button {
  background-color: #ef6c39;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media only screen and (max-width: 1150px) {
  .price-cards .columns {
    width: 40%;
    padding: 5%;
  }
  .price .header {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 650px) {
  .price-cards .columns {
    width: 90%;
  }
  .price .header {
    font-size: 3vw;
  }
  .price-cards .button {
    padding: 8px 15px;

    font-size: 2.5vw;

    width: 30%;
  }
  .price-cards .columns .btn-arrow {
    width: 15px;
    height: 15px;
  }
  .price-all h1 {
    font-size: 3vw;
  }
}

/* PRIVATE LESSONS */

.private-hero {
  background-image: url("../public/images/privateL/big/p-hero-img3.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
}

.private-hero-text {
  margin: 150px 6% 30px 6%;
  font-family: "Archivo Black", sans-serif;
}
.private-hero-text h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #e1e1e1;
}

.private-hero-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5em;
  line-height: 1em;
  color: #efefef;
}
.private-hero-text .p {
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 40%;
  letter-spacing: 1.5px;
  color: #e1e1e1;
}

@media screen and (max-width: 1250px) {
  .private-hero-text h5 {
    font-size: 1.3em;
  }

  .private-hero-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.5em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 1.5em;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    width: 50%;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 950px) {
  .private-hero-text h5 {
    font-size: 1.2em;
  }

  .private-hero-text h1 {
    font-size: 3.5em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 50%;
  }
  .private-hero {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .private-hero-text h5 {
    font-size: 1em;
  }

  .private-hero-text h1 {
    font-size: 3.2em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 60%;
  }
  .private-hero {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 650px) {
  .private-hero-text h5 {
    font-size: 0.9em;
  }

  .private-hero-text h1 {
    font-size: 3em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 70%;
  }
  .private-hero {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .private-hero-text h5 {
    font-size: 0.9em;
  }

  .private-hero-text h1 {
    font-size: 2.5em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 80%;
  }
  .private-hero {
    padding-bottom: 50px;
  }
  .private-hero .hero-join {
    width: 80%;
    font-size: 1em;
    height: 16px;
  }
}

@media screen and (max-width: 420px) {
  .private-hero-text h5 {
    font-size: 0.9em;
  }

  .private-hero-text h1 {
    font-size: 2.3em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;
  }
  .private-hero {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 390px) {
  .private-hero-text h5 {
    font-size: 0.8em;
  }

  .private-hero-text h1 {
    font-size: 1.8em;
  }
  .private-hero-text .p {
    margin-bottom: 0;
    font-size: 0.7em;

    width: 85%;
  }
  .private-hero {
    padding-bottom: 30px;
  }
  .private-hero .hero-join {
    width: 70%;
    font-size: 0.9em;
    height: 13px;
  }
}
/* VIDEO COACHING HERO */
.video-hero {
  background-image: url("../public/images/videoCoaching/big/v-hero-img3.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
}

.video-hero-text {
  margin: 150px 6% 30px 6%;
  font-family: "Archivo Black", sans-serif;
}
.video-hero-text h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #e1e1e1;
}

.video-hero-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5em;
  line-height: 1em;
  color: #efefef;
}
.video-hero-text .p {
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 40%;
  letter-spacing: 1.5px;
  color: #e1e1e1;
}
@media screen and (max-width: 1250px) {
  .video-hero-text h5 {
    font-size: 1.3em;
  }

  .video-hero-text h1 {
    font-size: 4.5em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 1.5em;

    width: 50%;
  }
}

@media screen and (max-width: 950px) {
  .video-hero-text h5 {
    font-size: 1.2em;
  }

  .video-hero-text h1 {
    font-size: 3.5em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 50%;
  }
  .video-hero {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .video-hero-text h5 {
    font-size: 1em;
  }

  .video-hero-text h1 {
    font-size: 3.2em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 60%;
  }
  .video-hero {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 650px) {
  .video-hero-text h5 {
    font-size: 0.9em;
  }

  .video-hero-text h1 {
    font-size: 3em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 70%;
  }
  .video-hero {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .video-hero-text h5 {
    font-size: 0.9em;
  }

  .video-hero-text h1 {
    font-size: 2.4em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 80%;
  }
  .video-hero {
    padding-bottom: 50px;
  }
  .video-hero .hero-join {
    width: 80%;
    font-size: 1em;
    height: 16px;
  }
}

@media screen and (max-width: 420px) {
  .video-hero-text h5 {
    font-size: 0.9em;
  }

  .video-hero-text h1 {
    font-size: 2.3em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 90%;
  }
  .video-hero {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 390px) {
  .video-hero-text h5 {
    font-size: 0.8em;
  }

  .video-hero-text h1 {
    font-size: 1.8em;
  }
  .video-hero-text .p {
    margin-bottom: 0;
    font-size: 0.7em;
    width: 95%;
  }
  .video-hero {
    padding-bottom: 30px;
  }
  .video-hero .hero-join {
    width: 75%;
    font-size: 0.9em;
    height: 13px;
  }
}

/* BEYOND-BEGINNER *********************************/

.beyond-hero {
  background-image: url("../public/images/privateL/big/p-hero-img9.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 100px;
}

.beyond-hero-text {
  margin: 150px 6% 30px 6%;
  font-family: "Archivo Black", sans-serif;
}
.beyond-hero-text h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #2b2d29;
}

.beyond-hero-text h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.5em;
  line-height: 1em;
  color: #000000;
}
.beyond-hero-text .p {
  margin-bottom: 0;
  font-size: 1.5em;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  width: 40%;
  letter-spacing: 1.5px;
}
@media screen and (max-width: 1250px) {
  .beyond-hero-text h5 {
    font-size: 1.3em;
  }

  .beyond-hero-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.5em;
    line-height: 1em;
    color: #000000;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 1.5em;

    width: 50%;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 950px) {
  .beyond-hero-text h5 {
    font-size: 1.2em;
  }

  .beyond-hero-text h1 {
    font-size: 3.5em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 50%;
  }
  .beyond-hero {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 750px) {
  .beyond-hero-text h5 {
    font-size: 1em;
  }

  .beyond-hero-text h1 {
    font-size: 3.2em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 1em;

    width: 60%;
  }
  .beyond-hero {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 650px) {
  .beyond-hero-text h5 {
    font-size: 0.9em;
  }

  .beyond-hero-text h1 {
    font-size: 3em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 70%;
  }
  .beyond-hero {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .beyond-hero-text h5 {
    font-size: 0.9em;
  }

  .beyond-hero-text h1 {
    font-size: 2.4em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 80%;
  }
  .beyond-hero {
    padding-bottom: 50px;
  }
  .beyond-hero .hero-join {
    width: 80%;
    font-size: 1em;
    height: 16px;
  }
}

@media screen and (max-width: 420px) {
  .beyond-hero-text h5 {
    font-size: 0.9em;
  }

  .beyond-hero-text h1 {
    font-size: 2.3em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 0.9em;

    width: 60%;
  }
  .beyond-hero {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 390px) {
  .beyond-hero-text h5 {
    font-size: 0.8em;
  }

  .beyond-hero-text h1 {
    font-size: 1.5em;
  }
  .beyond-hero-text .p {
    margin-bottom: 0;
    font-size: 0.7em;

    width: 90%;
    font-weight: 800;
  }
  .beyond-hero {
    padding-bottom: 15px;
  }
  .beyond-hero .hero-join {
    width: 70%;
    font-size: 0.9em;
    height: 13px;
  }
}

/* COMPETITION *******************************************/

.competition-hero {
  background-image: url("../public/images/competition/c-hero-gif.gif");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 150px;
}
.c-hero-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  justify-content: center;
}
.c-hero-all h4 {
  color: white;
  margin-bottom: 0;
  font-size: 1.5em;
}
.c-hero-all h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2em;
}
.c-hero-all h1 {
  font-size: 9em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Covered By Your Grace", cursive;
}
.c-hero-all button {
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background-color: #252723;
  color: white;
  margin-top: 20px;
  font-weight: 800;
}
/* TIMER */
#timer {
  font-family: "Covered By Your Grace", cursive;
}
#timer span {
  color: #252723;
}
#days {
  font-size: 8vw;
  color: #db4844;
}
#hours {
  font-size: 7vw;
  color: #f07c22;
}
#minutes {
  font-size: 6vw;
  color: #f6da74;
}
#seconds {
  font-size: 5vw;
  color: #abcd58;
}

#timer div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  /* font-size: 100px; */
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .c-hero-all h4 {
    font-size: 1.5em;
  }
  .c-hero-all h3 {
    margin-bottom: 20px;
    font-size: 1.7em;
  }
  .c-hero-all h1 {
    font-size: 7em;
  }
}

@media screen and (max-width: 700px) {
  .c-hero-all h4 {
    font-size: 1.5em;
  }
  .c-hero-all h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .c-hero-all h1 {
    font-size: 6em;
  }
  #days {
    font-size: 7vw;
  }
  #hours {
    font-size: 6vw;
  }
  #minutes {
    font-size: 5vw;
  }
  #seconds {
    font-size: 4vw;
  }

  #timer div {
    display: inline-block;
    line-height: 1;
    padding: 15px;

    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .c-hero-all h4 {
    font-size: 1.5em;
  }
  .c-hero-all h3 {
    margin-bottom: 20px;
    font-size: 3.5vw;
  }
  .c-hero-all h1 {
    font-size: 6em;
  }
  #days {
    font-size: 7vw;
  }
  #hours {
    font-size: 6vw;
  }
  #minutes {
    font-size: 5vw;
  }
  #seconds {
    font-size: 4vw;
  }

  #timer div {
    display: inline-block;
    line-height: 1;
    padding: 15px;

    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  .c-hero-all h4 {
    font-size: 1.3em;
  }
  .c-hero-all h3 {
    margin-bottom: 20px;
    font-size: 3.5vw;
  }
  .c-hero-all h1 {
    font-size: 4.5em;
  }
  #days {
    font-size: 6vw;
  }
  #hours {
    font-size: 6vw;
  }
  #minutes {
    font-size: 5vw;
  }
  #seconds {
    font-size: 4vw;
  }

  #timer div {
    display: inline-block;
    line-height: 1;
    padding: 15px;

    margin-top: 30px;
  }
  .c-hero-all button {
    padding: 10px 15px 10px 15px;

    margin-top: 10px;
    font-size: 0.7em;
  }
  .competition-hero {
    padding-bottom: 50px;
  }
}

.graffiti {
  font-family: "Covered By Your Grace", cursive;
}

/* 
MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* MODAl */
.modal {
  background-color: #000000;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 60%;
  max-width: 400px;
  z-index: 1000;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  background-color: #000000;
  color: white;
}
.modal-close-button:hover {
  background-color: #000000;
  border: 1px solid #db4844;
  color: #ef6c39;
}
.modal-submit {
  width: 100%;
  padding: 10px 20px 10px 20px;
  background-color: #ef6c39;
  border: none;
}
.modal-submit:hover {
  background-color: transparent;
  border: 1px solid #db4844;
  color: #db4844;
}

#get-started-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

#get-started-form h2 {
  color: white;
  font-size: 3em;
  margin-bottom: 20px;
  margin-top: 0;
  width: 100%;
  line-height: 1em;
}

#get-started-form p {
  color: #aba9a9;
  width: 100%;
  margin-bottom: 30px;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  margin-top: 0;
}

#get-started-form input {
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
}
#get-started-form input,
#get-started-form textarea {
  background-color: #4b4b4b;
  padding: 5px;
  border: none;
  color: white;
}
::placeholder {
  color: #aba9a9;
  padding-left: 10px;
}
#get-started-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
}

@media screen and (max-width: 660px) {
  #get-started-form h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 400px) {
  #get-started-form h2 {
    font-size: 1.5em;
  }
  #get-started-form p {
    font-size: 0.8em;
    letter-spacing: 1px;
  }
  .modal-close-button {
    right: 60px;
  }
  .modal {
    padding: 40px;
  }
  #get-started-form {
    padding: 0px;
  }
}
